*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    background-color: rgb(45, 54, 134);
    color: white;
    height: 100%;
}
#papa{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* display flex solo afecta al hijo y no a los nietos */
.carta{
    width: 300px;
    height: 500px;
    border: 1px solid gray;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
.arriba, .abajo{
    /* para que tenga relación de uno a uno */
    flex-grow: 1;
    /* hacemos que no se encoja */
    flex-shrink: 0;
    flex-basis: 50%;
}
.abajo{
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.abajo p{
    margin-top: 15px;
    font-size: 16px;
    text-align: justify;
}
.arriba{
    background-image: url('http://lorempixel.com/300/300/cats');
    border-radius: 5px 5px 0 0;
}
input{
    background-color: white;
    margin: 15px 55px 0 55px;
    border: 0;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color:  rgb(45, 54, 134);
    
}