<div class="row">
    <label for="" class="col-3">Ingrese el monto en Euros</label>
    <input type="number" class="form-control col-5"[(ngModel)]="monto">
    <label for="" class="col-4">Monto Convertido: {{monto|moneda}}</label>
</div>
<br>

<div class="row">
        <label for="" class="col-3">Ingrese el monto en nombre</label>
        <input type="text" class="form-control col-5"[(ngModel)]="nombre">
        <label for="" class="col-4">Inicial con mayuscula: {{nombre|mayuscula}}</label>
</div>
<br>